/**
  * @name MomoTalk (Visual Refresh)
  * @author yumemiya - elatedcard - kyonakansou - kuurp
  * @version 4.0
  * @description A theme based on the MomoTalk app from the Blue Archive Game!
  * @source https://github.com/MiyakuKage/discord-momotalk
*/

@import url("https://miyakukage.github.io/discord-momotalk/MomotalkSource.theme.css");

/* Uncomment this if you want to disable the custom cursor */
/*
* {
	cursor: unset !important;
}
*/

/* Change Colors Here!!!! */
:root {
    --backgroundcolor: #1a1a1e;

    --momotalkbanner: #e56072;

    --senseimessagebubble: #4a8ac8;

    --messagebubble: #4c5b6f;

    --text-link: #a3baff;

    --sidebar: #505c72;
    --sidebarborder: #3e4e6b;

    --channeltopbar: #505c72;

    --messagefontcolor: #ffffff;

    --username: #c4c4c4;
    --usernameoutline: #323339;

    --serverlist: #505c72;

    --newmessages: #dde6ed; /* this is the read up to this point thingy*/

    --newtextcolor: #3f444a;

    --mention: rgba(255, 147, 183, 0.5);
    --mentionbar: rgba(255, 147, 183, 0.8);

    --hovericoncolor: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg)
        brightness(106%) contrast(105%);

    /* Change Images Here !!!! */
    --bgcharacter: url("https://miyakukage.github.io/discord-momotalk/img/chara/mika.apng"); /*HERE, You can change the character that appears in the background! Change "none.apng" by one of the characters listed in the GitHub README, or by your own image!*/
    --bgcharacterposition: bottom 10% left 30%;
    --characterfriends: url("https://i.imgur.com/ty3XjgC.gif");

    --bgimage: url("your image url here.png");

    --callimage: url("your image url here.png");

    /*FOR LIGHTMODE*/
    --backgroundcolorLIGHT: #ffffff;

    --momotalkbannerLIGHT: #fb90a4;

    --senseimessagebubbleLIGHT: #4a8ac8;

    --messagebubbleLIGHT: #4c5b6f;

    --text-linkLIGHT: #a3baff;

    --sidebarLIGHT: #f2f7f8;

    --sidebarborderLIGHT: #dfe2e1;

    --channeltopbarLIGHT: #e7f0f7;

    --messagefontcolorLIGHT: #ffffff;

    --usernameLIGHT: #373737;
    --usernameoutlineLIGHT: #ffffff;

    --serverlistLIGHT: #505c72;

    --newmessagesLIGHT: #dde6ed; /* this is the read up to this point thingy*/

    --newtextcolorLIGHT: #3f444a;

    --hovericoncolorLIGHT:   ;

    /* Change Images Here !!!! */
    --bgcharacterLIGHT: url("https://miyakukage.github.io/discord-momotalk/img/chara/mari.apng"); /*HERE, You can change the character that appears in the background! Change "none.apng" by one of the characters listed in the GitHub README, or by your own image!*/
    --bgcharacterposition: bottom 10% left 30%;
    --characterfriendsLIGHT: url("https://miyakukage.github.io/discord-momotalk/img/chara/arona.apng");

    --bgimageLIGHT: url("your image url here.png");

    --callimageLIGHT: url("your image url here.png");
}
